


/* ==================== إعادة تعيين الأساسيات ==================== */
* { /* يطبق القواعد التالية على كل العناصر في الصفحة */
    margin: 0; /* يضبط قيمة الهامش الخارجية لكل عنصر إلى 0 */
    padding: 0; /* يضبط قيمة الحشو الداخلي لكل عنصر إلى 0 */
    box-sizing: border-box; /* يغير طريقة حساب القياسات لتشمل الحشوة والحدود داخل العرض والارتفاع */
    font-family: var(--font-family-main); /* يطبق خط المتغير --font-family-main على كل عنصر */

}


/*=============================================================================================================*/
/*=========================================== بداية التنسيقات العامة =========================================*/
/*=============================================================================================================*/

body {
  font-family: 'Lato', serif;  /* خط رسمي */
  scroll-behavior: smooth; /* يتيح للصفحة تمريرًا ناعمًا عند الانتقال لروابط داخلية */
}

/*=============================================================================================================*/
/*==================================== header header header header ===============================================*/
/*=============================================================================================================*/

.header {
  background-color: #083e47;   /* لون خلفية غامق */
  color: white;                /* لون النص أبيض */
  position: sticky;            /* يخلي الهيدر يفضل ظاهر فوق الصفحة أثناء التمرير */
  top: 0;                      /* يخليه يثبت عند أعلى الصفحة */
  display: flex;
  justify-content: space-evenly;
  text-align: center; /* يجعل النصوص داخل العنصر مركزيّة المحاذاة */
}

/*=================================*/

.header.scrolled {  /* الحالة بعد أول تمرير */
  background-color: rgba(6, 70, 53, 0.1); /* شفافية الزجاج */
  backdrop-filter: blur(10px);            /* تأثير زجاجي */
  border-bottom: 1px solid white;         /* الخط الأبيض تحت الهيدر */
  box-shadow: 0 0 10px rgba(255,255,255,0.1); /* توهّج خفيف للخط */
}

/*=================================*/

.iandt {
display: flex;
flex-direction: row; 
align-items: center;     /* يخليهم في نفس الخط الرأسي */ 
}

/*=================================*/

.icna{
  display: flex;           /* يخلي العناصر جنب بعض */
  align-items: center;     /* يخليهم في نفس الخط الرأسي */
  gap: 8px;               /* مسافة صغيرة بينهم */
  padding: 5px;
}

/*=================================*/

#icon {
  width: 50px;   /* العرض */
  height: auto;   /* الارتفاع يتغير تلقائيًا للحفاظ على التناسب */
}

/*=================================*/

.NARSS {
   font-size: clamp(5px, 5vw, 17px);             /* حجم الخط لعنوان الهيدر */
   text-align: center;
   color: #ffffff;
}

/*=================================*/

.vertical-line {
  width: 1px;            /* السمك */
  height: 70%;         /* الطول */
  max-height: 100px;
  background-color: rgb(255, 255, 255); /* لون الخط */
  margin: 0px 10px;          /* يخليه في النص */
  padding: 10px 0px;
}


/*=================================*/

.nav-bar { /* للتعديل على خصاص قائمة التنقل */

}

/*=================================*/

.nav-bar a{ /* للتعديل على خصاص روابط قائمة التنقل */
  color: white;                /* لون الروابط أبيض */
  text-decoration: none;       /* إزالة الخط تحت الرابط */
  margin: 20px 10px;              /* مسافة رأسية ثم أفقية بين الروابط */
  font-size: clamp(5px, 5vw, 14px);             /* حجم الخط */ 
  transition: transform 0.3s; /* تأثير ناعم */
  display: inline-block;               /* يخلي الرابط يتصرف ككتلة داخلية */
  font-weight: bold;           /* يجعل الخط عريض */
}

/*=================================*/

.nav-bar a:hover {   /* تأثير عند المرور بالماوس */
  color: #22e69a;              /* تغيير اللون */
  transform: scale(1.1);  /* تكبير الرابط عند المرور بالماوس */
}

/*=================================*/

#title-of-header{  /* للتعديل على خصاص عنوان الهيدر */
  font-size: clamp(5px, 5vw, 20px);             /* حجم الخط لعنوان الهيدر */
  color: #22eca9;
  font-weight: bold;           /* يجعل الخط عريض */ 
  margin: 14px 0px;              /* مسافة رأسية ثم أفقية */
  padding: 0px 5px;
}
/*=============================================================================================================*/
/*=========================================== home home home home ================================================*/
/*=============================================================================================================*/
.home {      /* للتعديل على خصاص الهوم بشكل عام */
  display: flex;               /* نخلي الهوم تستخدم الفليكس */
  justify-content: center;     /* يوسطن أفقيًا */
  align-items: center;         /* يوسطن رأسيًا */
  height: 100vh;               /* يخلي الهوم طولها قد طول الشاشة */

   /* الخلفية: لون + صورة + شفافية الصورة */
  background-image: 
    linear-gradient(rgba(8, 62, 71, 0.8), rgba(9, 78, 40, 0.8)), /* لون مع شفافية */
    url('Logo/dameitta\ google\ earth.jpg');

  background-repeat: no-repeat;  /* تمنع تكرار الصورة */
  background-size: cover;        /* تغطي كامل العنصر */
  background-position: center;   /* توضع في المنتصف */
}

.hero {
  text-align: center; /* يجعل النصوص داخل العنصر مركزيّة المحاذاة */
}

/*=================================*/

.home-link {      /* للتعديل على خصاص رابط الهوم */
  display: inline-block;        /* يخلي الرابط يتصرف ككتلة داخلية */
  background-color: #24a774;    /* لون خلفية مميز */
  color: white;                 /* لون النص أبيض */
  text-decoration: none;        /* إزالة الخط تحت الرابط */
  font-size: clamp(5px, 5vw, 18px);              /* حجم الخط */
  border-radius: 5px;           /* حواف دائرية خفيفة */
  transition: background-color 0.3s, transform 0.3s; /* تأثير ناعم */
  font-weight: bold;            /* يجعل الخط عريض */
  margin: 0px 0px;              /* مسافة رأسية ثم أفقية */
  padding: 10px 20px;           /* حدود حول العنصر */
}

/*=================================*/

.home-link:hover {    /* تأثير عند المرور بالماوس */
  background-color: #15bd7c;    /* تغيير لون الخلفية عند المرور بالماوس */
  transform: scale(1.05);        /* تكبير الرابط عند المرور بالماوس */
}

/*=================================*/

#learning {   /* للتعديل على خصاص عنوان الهوم */
  font-size: clamp(24px, 5vw, 60px);             /* حجم الخط لعنوان الهوم */
  color: #22eca9;
  font-weight: bold;           /* يجعل الخط عريض */
}

/*=================================*/

.home p {   /* للتعديل على خصاص الفقرات داخل الهوم */
  font-size: clamp(5px, 5vw, 20px);             /* حجم الخط للفقرات داخل الهوم */
  color: wheat;
  margin: 15px 0px;              /* مسافة رأسية ثم أفقية */
}

/*=================================*/

/*=============================================================================================================*/
/*========================================= project project project project=======================================*/
/*=============================================================================================================*/

.project {
    background:  rgb(3, 49, 53);
}

/*=================================*/

.topp{
  display: flex;               /* نخلي الأب فليكس */
  justify-content: center;     /* يوسطن أفقي */
  align-items: center;         /* يوسطن رأسي */
}

/*=================================*/


.top-about {
  font-size: clamp(5px, 5vw, 50px);
  color: rgb(255, 255, 255);
  padding: 10px 0px;    /* مسافة داخلية بين النص والحواف */
    text-align: center; /* يجعل النصوص داخل العنصر مركزيّة المحاذاة */
}

/*=================================*/

.under-about {
  font-size: clamp(5px, 5vw, 20px);
  color: white;
  padding: 1rem;        /* مسافة داخلية */
  width: 700px;               /* عرض المستطيل */
  margin: auto;          /* دي اللي بتوسطن المربع نفسه */
  max-width: 80%;       /* علشان لو الشاشة صغيرة ما يطلعش برا */
  text-align: center;   /* يخلي النص في النص */
}

/*=================================*/

.sq {
  padding: 0px 0px;
  gap: 30px;   /* مسافة أفقية بين الكروت */
  flex-direction: row; 
      display: flex;               /* نخلي الهوم تستخدم الفليكس */
    justify-content: center;     /* يوسطن أفقيًا */
    text-align: center; /* يجعل النصوص داخل العنصر مركزيّة المحاذاة */
}

/*=================================*/

.card {
  background-color: rgb(26, 45, 48);    /* لون المستطيل */
  border-radius: 10px;        /* حواف مستديرة */
  padding: 20px 15px;    /* مسافة داخلية بين النص والحواف */ 
  width: 100%;
  max-width: 300px; 
  height: auto;             /* عرض المستطيل */
  /*text-align: center;         /* يوسّط النصوص */
  box-shadow: 0 4px 8px rgba(0,0,0,0.9); /* ظل خفيف */
  margin: 40px 1px;   /* مسافة يمين ويسار بين الكروت */
  color: white;
  font-size: clamp(5px, 5vw, 15px);
}

/*=================================*/

.card .icons {
  width: 60px;                /* حجم الأيقونة */
  margin-bottom: 0px;       /* يغير المسافة بين الايقونه والنص */
  padding: 0px 0px;    /* مسافة داخلية بين النص والحواف */
}

/*=================================*/

.card h2 {
  margin-top: 0px;
  font-size: clamp(5px, 5vw, 24px);
  padding: 10px 0px;    /* مسافة داخلية بين النص والحواف */
}

/*=================================*/

.card p {
  font-size: clamp(5px, 5vw, 16px);
}

/*=================================*/

.sqdown {
  background-color: rgb(26, 45, 48);
  box-shadow: 0 4px 8px rgba(0,0,0,0.9); /* ظل خفيف */
  color: white;

   width: 100%;          /* ياخد عرض الشاشة كله افتراضيًا */
   max-width: 1000px;    /* لكن مايزيدش عن 1000px */
   margin: auto;          /* دي اللي بتوسطن المربع نفسه */
   height: auto;

  border-radius: 15px;        /* حواف مستديرة */ 
     display: flex;               /* نخلي الهوم تستخدم الفليكس */
     flex-direction: column;
      /*justify-content: center;     /* يوسطن أفقيًا */
  
}

/*=================================*/

.sqdown h1 {
text-align: center; /* يجعل النصوص داخل العنصر مركزيّة المحاذاة */
padding: 1rem 1rem;        /* مسافة داخلية */
}

/*=================================*/

.both {
display: flex;
flex-direction: row; 
  gap: 5rem 5rem;
  padding: 2rem 4rem;        /* مسافة داخلية */
  text-align: left; /* يجعل النصوص داخل العنصر مركزيّة المحاذاة */
  justify-content: center;     /* يوسطن أفقيًا */
}

/*=================================*/

.both h3 {
  color: #15bd7c;
}

/*=================================*/






/* شاشات التابلت والموبايل */
@media (max-width: 768px) {
  .sq {
    flex-direction: column;  /* الكروت تبقى تحت بعض بدل ما هي جنب بعض */
    align-items: center;
  }

  .both {
    flex-direction: column;  /* العناصر تيجي تحت بعض */
    align-items: last baseline;
    gap: 1rem;
    text-align: left; /* يخلي النص في النص */
  }

  .under-about {
    width: 100%;      /* ياخد عرض الشاشة كله */
    max-width: 90%;   /* يخلي فيه مسافة من الجنبين */
    font-size: 16px;  /* خط أصغر علشان يليق على الموبايل */
  }

  #learning {
    font-size: 32px; /* العنوان يصغر */
  }

  .home p {
    font-size: 16px;
  }

  .card {
    max-width: 90%;   /* الكارت ياخد عرض أصغر */
  }
}






/* ================= Responsive Header ================= */
@media (max-width: 768px) {
  .header {
    flex-direction: column; /* يخلي العناصر تيجي تحت بعض */
    padding: 10px;
  }

  .nav-bar a {
    margin: 10px 5px;  /* مسافات أصغر */
    font-size: clamp(8px, 4vw, 12px); /* خط أصغر */
  }

  .vertical-line {
    width: 1px;                 /* السمك */
    height: 30px;               /* الطول أصغر يناسب الموبايل */
    background-color: white;    /* يفضل ظاهر */
    margin: 0 5px;              /* مسافة صغيرة بين النص والخط */
  }

  #icon {
    width: 35px; /* اللوجو يصغر */
  }

  #title-of-header {
    font-size: clamp(10px, 6vw, 16px); /* العنوان يصغر */
  }
}
